body {
    background-color: #f1f1f1
}


ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 1000px;
    background-color: #f1f1f1;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    background-color: #f1f1f1;
}

/* Change the link color on hover */
li a:hover {
    background-color: #83adb5;;
    color: white;
}

div.scroll {
    background-color: #99b898;
    width: 700px;
    height: 100px;
    overflow: auto;
}
